<mat-sidenav-container class="app-container">
  <mat-sidenav #drawer class="app-sidenav mat-elevation-z4" [mode]="isScreenLarge ? 'push' : 'side'"
    [opened]="isScreenLarge">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-list>
      <mat-list-item>1</mat-list-item>
      <mat-list-item>1</mat-list-item>
      <mat-list-item>1</mat-list-item>
      <mat-list-item>1</mat-list-item>
    </mat-list>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar></app-toolbar>
    <router-outlet> </router-outlet>
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-sidenav-container>
